<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ts + react + redux + saga</title>
    <link rel="stylesheet" href="<%= root %>main.css?v=<%= v %>">
    <link rel="stylesheet" href="<%= root %>hljs-theme.css">
    <link rel="stylesheet" href="<%= root %>markdown.css">
    <!--<script src="script.js"></script>-->
</head>
<body>
<div class="menu">
    <% menuItems.forEach (menuItem => { %>
        <div class="menu-item depth-<%= menuItem.depth %> <%= menuItem.selected ? 'selected' : '' %>">
            •
            <a href="<%= menuItem.url %>"><%= menuItem.title %></a>
            <% menuItem.selected && menuItem.sections.forEach((section, i) => {%>
                <div class="menu-section depth-<%= menuItem.depth + 1 %>">
                    ◦
                    <a href="#<%= i + 1 %>">
                        <%= section %>
                    </a>
                </div>
            <% }) %>
        </div>
    <% }) %>
</div>
<div class="markdown-body"><%- md %></div>

</body>
</html>
